/*body{
    background: green; 
}
#mycard{
    background: white;
    padding-bottom: 500px; top: 50px; left: 25px;
    border-radius: 25px;
{
.lhurt{
    color: red;
}









#lefttophurt{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 200px;
  
}
#centeredletter{
    padding-top: 500px; left: 70px;
   
   
    
}
#bottomrighthurt{
    
    padding-right: 300px;
    
    
}*/
